/* Аватарка бота */
.bot-avatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 12px;
    flex-shrink: 0;
    background: url('/IMG/miac_short.png') center/25px 25px no-repeat;
    border: 1px solid #444;
    box-sizing: border-box; /* Чтобы border не увеличивал размер элемента */
}

/* Адаптивность для мобильных */
@media (max-width: 768px) {
    .bot-avatar {
        width: 28px;
        height: 28px;
        margin-right: 8px;
        background-size: 23px 23px; /* Уменьшаем изображение для мобильных */
    }
    
    .message {
        max-width: 80%;
    }
}

.typing-message {
    display: flex;
    gap: 4px;
}

.typing-dot {
    width: 8px;
    height: 8px;
    background-color: #ccc; /* Change to your desired color */
    border-radius: 50%;
    animation: bounce 1.2s infinite ease-in-out;
}

.typing-dot:nth-child(1) {
    animation-delay: 0s;
}

.typing-dot:nth-child(2) {
    animation-delay: 0.2s;
}

.typing-dot:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-8px);
    }
}